*{
	margin: 0;
	padding: 0;
	font-family: 'Imbue', serif;
}

#banner{
	background: linear-gradient(rgba(0,0,0,0.5),#009688),url(banner.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}
.logo{
	width: 140px;
	position: absolute;
	top: 5%;
	left: 8%;
}

.banner-txt{
	text-align: center;
	color: #fff;
	padding-top: 180px;
}

.banner-txt h1{
	font-size: 140px;
}

.banner-txt p{
	font-size: 20px;
	font-style: italic;
	font-family: 'Dancing Script', cursive;
}

.banner-btn{
	margin: 100px auto 0 ;
}

.banner-btn a{
	width: 150px;
	text-decoration: none;
	margin: 0 10px;
	padding: 12px 0;
	color: #fff;
	position: relative;
	border: 0.5px solid #fff;
	display: inline-block;
}

.banner-btn a span{
	left: 0;
	top: 0;
	width: 0;
	height: 100;
	color: #fff;
	position: absolute;
	transition: 0.5s;
	z-index: -1
}

.banner-btn a:hover span{
	width: 100%;
}

#sidebar{
	top: 10px;
	right: -250px;
	width: 200px;
	height: 100vh;
	position: fixed;
	z-index: 2
	color: #009688;
	transition: 0.5s;

}

nav ul li{

	list-style: none;
	margin: 50px 12px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

#menubtn{
	text-align: center;
	position: fixed;
	border-radius: 3px;
	z-index: 3;
	width: 50px;
	height: 50px;
	top: 10px;
	right: 30px;
	background: #009688;
	cursor: pointer;
}

#menubtn img{
	width: 20px;
	margin-top: 15px;
}